.message {
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
}
.message p {
  margin: 0;
}
.message p:first-child {
  font-weight: bold;
  padding-top: 5px;
}

.user-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.message-content {
  padding: 8px 14px;
}
